wxPython==4.1.0
pyobjc==6.2.2; sys_platform=="darwin"
pywin32==228; sys_platform=="win32"
mistune==0.8.4
mistune-contrib==0.1
PyInstaller==3.6

argcomplete==1.10.0
xmltodict==0.12.0
patch_ng==1.17

flake8==3.8.3
md-toc==7.0.3
