wxPython==4.1.1
pyobjc==7.3; sys_platform=="darwin"
pywin32==301; sys_platform=="win32"
winshell==0.6; sys_platform=="win32"
mistune==0.8.4
mistune-contrib==0.1
PyInstaller==4.3
vgio==1.2.0
python-dateutil==2.8.1

argcomplete==1.12.3
xmltodict==0.12.0
patch_ng==1.17.4

flake8==3.9.2
md-toc==8.0.0
