# Downloaded assets
downloaded-assets
# *nix compilation
zq-repo/zquake/release-*
zq-repo/zqcc/*.o
zq-repo/zqcc/zqcc
zq-repo/zqcc/zqcc_debug
# Gamecode
zq-repo/qc/agrip/*.dat
# Visual Studio
zq-repo/zqcc/Release
zq-repo/zqcc/Debug
zq-repo/zqcc/*.v12.suo
zq-repo/zqcc/*.sdf
zq-repo/zqcc/*.user
zq-repo/zquake/source/Release*
zq-repo/zquake/source/Debug*
zq-repo/zquake/source/*.v12.suo
zq-repo/zquake/source/*.sdf
zq-repo/zquake/source/*.user
# Manual intermediate files
# The first one would be cleaned up by the scripts if all run
manuals/*-manual.md
manuals/*-manual*.html
