# Staging area
app-staging
# Compiled maps
*.bsp
# Support files
maps.zip
demos*
skins*
quake-shareware-1.06*
mindgrid-audio_quake_2003.09.22*
# *nix compilation
zq-repo/zquake/release-*
zq-repo/zqcc/*.o
zq-repo/zqcc/zqcc*
# Gamecode
zq-repo/qc/agrip/*.dat
# Visual Studio
zq-repo/zqcc/Release
zq-repo/zqcc/Debug
zq-repo/zqcc/*.v12.suo
zq-repo/zqcc/*.sdf
zq-repo/zqcc/*.user
zq-repo/zquake/source/Release-*
zq-repo/zquake/source/*.v12.suo
zq-repo/zquake/source/*.sdf
zq-repo/zquake/source/*.user
