---
layout: default
---
<div id='container-all'>
  <h1>{{ page.title }}</h1>
  <div id='container-nav'>
    <dl id='nav'>
      {% if page.pagenav %}
      <dt id='nav-page'>Page Navigation</dt>
        {{ page.pagenav }} 
      {% endif %}
      <dt id='nav-site'>Site Navigation</dt>
        <dd>
          <dl>
            <dt><a href='../'>Home</a></dt>
            <dd><a href='../about/'>About</a></dd>
            <dd><a href='../ldl/'>LDL</a></dd>
            <dd><a href='../logodesc/'>The Logo</a></dd>
            <dd><a href='../download/'>Download</a></dd>
            <dd><a href='../links/'>Links</a></dd>
          </dl>
        </dd>
      </dl>
  </div>
  <div id='container-content'>
    <a name='content'></a>
    <p class='info'>As detailed <a href='../'>on the home page</a>, development is now being carried out by the community; this page is being preserved for posterity.</p>
    {{ content }}
  </div>
