<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" lang='en' xml:lang="en">
<head>
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'/>
  <link href='style/agriplabs.css' rel='stylesheet' type='text/css'/>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3310950-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
  <div id='container-all-min'>
    <div id='container-content-min'>
	{{ content }}
    </div>
        <div id='footer'>
          <p>Copyright 2003&ndash;2012 Matthew Tylee Atkinson and Sabahattin Gucukoglu</p>
        </div>
     </div>
  </body>
</html>
