body {
    background: #eee;
    margin: 1em;
	font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
    width: 60em;
    max-width: 95%;
    margin-top: 2em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #406;
}
h1 {
    font-family: 'Coustard', Verdana, Geneva, sans-serif;
    font-size: 2em;
    margin-top: 2em;
	border-bottom: 0.075em solid #406;
}
h2 {
	border-bottom: 0.075em solid #406;
}

a {
	color: #406;
}
a:visited {
	color: black;
}

pre {
	border: 0.075em solid black;
	padding: 1em;
}

table {
	border-collapse: collapse;
}
th, td {
	padding: 0.5em;
}
th {
	background: white;
}
tr:nth-child(odd) {
	background: #ddd;
}

/* Titles contain links, which we want to hide */
h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h3 a:visited,
h5 a, h3 a:visited,
h6 a, h4 a:visited {
	color: inherit;
	text-decoration: none;
}
